/* Color palette
    black: #000000
    blue: #0B60B0
    light blue: #40A2D8
    cream: #F0EDCF
    background: #f0eedc
*/
@font-face {
    font-family: SDDystopian;
    src: url(./assets/fonts/Sddystopiandemo-GO7xa.otf);
}

.menu {
    width: 100%;
    height: 80px;
    background-color: #ff5e00;
    position:fixed;
    top: 0px;
    left: 0px;
    z-index: 3;
}

/* Main logo */
.menu > p {
    position: relative;
    height: 50px;
    top: 0px;
    left: 30px;
}


/* Link menu */
.menu > div {
    position: relative;
    left: 90%;
    word-spacing: 5px;
    top: -65px;
    z-index: 3;
}

.menu > h1 {
    font-family: SDDystopian;
    font-size: 100px;
    position: relative;
    top: -180px;
    left: 160px;

}




*{
    font-family: Montserrat, sans-serif;
}

img{
    background-color: transparent;
    border-radius: 5%;
}
.menu_space{
    top:100px;         
}

.center-text {
    text-align: center;
}

/* Images zoom */
.zoom-img {
  width: 300px;
  height: 300px;
  overflow: hidden;
}

.zoom-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all .3s ease;
}

.zoom-img img:hover {
  transform: scale(1.2);
}
