/* Color palette
    black: #000000
    blue: #0B60B0
    light blue: #40A2D8
    cream: #F0EDCF
    background: #f0eedc
*/
@font-face {
    font-family: SDDystopian;
    src: url(./assets/fonts/Sddystopiandemo-GO7xa.otf);
}

/* Phone Potrait */
@media (min-width: 430px) and (max-width: 931px){
    /* header phone*/
    h1{
        display: none;
    }
    .menu > div {
        position: relative;
        left: 60%;
        word-spacing: 5px;
        top: -65px;
        z-index: 3;
    }

    .sprites{
        width: 200px;
        display: inline;
    }

}

/* Phone Landscape */
@media (min-width: 932px) and (max-width: 1799px){
    /* header phone landscape*/
    .menu > h1 {
        position: relative;
        font-family: SDDystopian;
        font-size: 40px;
        top: -115px;
        left: 160px;
    }
    .menu > div {
        position: relative;
        left: 80%;
        word-spacing: 5px;
        top: -65px;
        z-index: 3;
    }
    .sprites{
        width: 200px;
        display: inline;
    }
}

/* Desktop */
@media (min-width: 1800px){
    /* header */
    .menu > div {
        position: relative;
        left: 90%;
        word-spacing: 5px;
        top: -65px;
        z-index: 3;
    }

    .menu > h1 {
        font-family: SDDystopian;
        font-size: 100px;
        position: relative;
        top: -180px;
        left: 160px;

    }
    .sprites{
        width: 210px;
        display: inline-block;
    }

}

.menu {
    width: 100%;
    height: 80px;
    background-color: #ff5e00;
    position:fixed;
    top: 0px;
    left: 0px;
    z-index: 3;
}

/* Main logo */
.menu > p {
    position: relative;
    height: 50px;
    top: 0px;
    left: 30px;
}


*{
    font-family: Montserrat, sans-serif;
}

img{
    background-color: transparent;
    border-radius: 5%;
}
.menu_space{
    top:100px;         
}

.center-text {
    text-align: center;
}

/* Images zoom */
.zoom-img {
  width: 300px;
  height: 300px;
  overflow: hidden;
}

.zoom-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all .3s ease;
}

.zoom-img img:hover {
  transform: scale(1.2);
}
