/* Color palette
    black: #000000
    blue: #0B60B0
    light blue: #40A2D8
    cream: #F0EDCF
    background: #f0eedc
*/
@font-face {
    font-family: SDDystopian;
    src: url(./assets/fonts/Sddystopiandemo-GO7xa.otf);
}
img{
    background-color: transparent;
    border-radius: 5%;
}
*{
    font-family: Montserrat, sans-serif;
}
/* top bar */
.header {
    background-color:rgb(0, 213, 255);
    display: flex;
    width: 100%;
    height: 80px;
    position:fixed;
    top: 0px;
    left: 0px;
    z-index: 2;
}
/* Main logo */
.header > p {
    position: fixed;
    height: 50px;
    top: 0px;
    left: 30px;
    z-index: 3
}
/* Title */
.header > h1 {
    position: fixed;
    font-family: SDDystopian;
    font-size: 100px;
    left: 165px;
    top: -50px;
    z-index: 3;
}
.socials-menu{
    display: flex;
    justify-content: end;
    width: 100%;
    padding: 20px;
    gap: 10px;

    /* display: flex;
    flex-basis: auto;
    justify-content: end;
    width: 100%;
    padding: 20px;
    gap: 10px; */
}
/* News menu. */
.news-container{
    display: grid;
    gap: 20px;
    padding: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
}

.center-image{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    height: 100%;
}

.youtube-size{
    width: 690px;
    height: 400px;
}
/* Container merchandise */
.merch-container{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(6, 1fr);
}
/* Images zoom */
.zoom-img {
    width: 100%;
    overflow: visible ;
}
.zoom-img img {
  width: 100%;
  height: 100%;
  object-fit:contain;
  transition: all .2s ease;
}
.zoom-img img:hover {
  transform: scale(1.3);
}

/* Sprites Display */
.sprites{
    display: flex;
    gap: 10px;
    width: 250px;
}

/* Center text */
.container{
    background-color: blueviolet;
    flex-direction: column;
    
}
.center-text {
    display: flex;  
    width: 100%;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
/* LinkedIn Badge Center */
.about-me-center{
    display: flex;
    justify-content: center;
    padding: 40px;
}
/*  */
/*  */
/* Phone Potrait */
@media (min-width: 390px) and (max-width: 931px){
    /* header phone*/
    h1{
        display: none;
    }
    .menu > div {
        position: relative;
        left: 60%;
        word-spacing: 5px;
        top: -65px;
        z-index: 3;
    }

    .news-container{
        display: flex;
        flex-direction: column;  
        width: 90%;     
    }

    .center-image{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: pink;
        height: 100%;
    }

    .youtube-size{
        width: 100%;
        height: fit-content;
    }

    .sprites{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    .center-text {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 100%;
    }
   
}

/* Phone Landscape */
@media (min-width: 844px) and (max-width: 1799px){
    /* header phone landscape*/
    .menu > h1 {
        display: flex;
        position: relative;
        font-family: SDDystopian;
        font-size: 40px;
        top: -115px;
        left: 160px;
    }
    .menu > div {
        position: relative;
        left: 80%;
        word-spacing: 5px;
        top: -65px;
        z-index: 3;
    }
    .sprites{
        width: 25%;
    }
    .youtube-size{
        width: 00px;
        height: auto;
    }
}
